* {
  margin: 0;
  padding: 0;
}

.footer-cnt {
  background-color: rgb(20, 20, 20);
  height: 400px;
  padding: 50px 300px;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.staff-cnt,
.games-cnt {
  width: 300px;
}

.stripe-mini {
  height: 7px;
  width: 170px;
}

.games {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.games a {
  padding: 5px 0;
  text-decoration: none;
}
