* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden; /* Hide scrollbars */
  scroll-behavior: smooth;
}

/* NAVIGATION */

.application {
  display: flex;
}

.content {
  width: 85%;
}

.nav {
  top: 0;
  position: sticky;
  width: 15%;
  height: 100vh;
  background-color: rgb(20, 20, 20);
}
