* {
  padding: 0;
  margin: 0;
}

/* NAVIGATION */

.application {
  display: flex;
}

.content {
  width: 88%;
}

.nav {
  top: 0;
  position: sticky;
  width: 12%;
  height: 100vh;
  /*background-color: rgb(20, 20, 20); Satt i navbar.css*/
}
