@import url("https://fonts.googleapis.com/css2?family=Anton&family=Asap+Condensed&display=swap");

:root {
  /* FONTS */
  --antonfont: "Anton", sans-serif;
  --asapfont: "Asap Condensed", sans-serif;

  /* COLORS */
  --tae_background_primary: rgb(20, 20, 20);
  --tae_background_accent: #202020;
  --tae_foreground_primary: #ffb400;
  --tae_foreground_primary_accent: #ffe3a0; /*   TODO Logo colors*/
  --tae_foreground_secondary: #af6708;
  --tae_foreground_secondary_accent: #dc963c;
}

h1 {
  font-family: var(--antonfont);
  font-weight: 300;
  color: white;
}

.header {
  font-size: 9em;
}

text,
p,
a {
  font-size: 18px;
  font-family: var(--asapfont);
  font-weight: 100;
}

a {
  color: rgb(190, 190, 190);
}

a:hover {
  color: var(--tae_foreground_primary);
}

.stripe {
  height: 40px;
  width: 30rem;
  background-color: var(--tae_foreground_primary);
}

.stripe-mini {
  background-color: var(--tae_foreground_primary);
}
