.navbar {
}

.nav {
  transition-duration: 0.3s;
  background-color: rgb(20, 20, 20);
}

.nav:hover {
  background-color: var(--tae_background_primary);
}

.logo-cnt {
  margin: 50px auto;
  background-image: url(../../assets/logo.png);
  max-width: 100px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}
.links a {
  font-size: 1.3rem;
  color: white;

  text-decoration: none;
  margin: 1.5vh 0 1.5vh 0;
  width: 50%;
  text-align: center;
  padding: 1vh;
}

.links a:hover {
  filter: invert(61%) sepia(93%) saturate(578%) hue-rotate(359deg)
    brightness(121%) contrast(80%);
  letter-spacing: 0.5px;
  font-weight: 200;
  margin: 1.5vh 0 1.5vh 0;
}

.atag:hover {
  filter: invert(61%) sepia(93%) saturate(578%) hue-rotate(359deg)
    brightness(121%) contrast(80%);
}

/* NAV EXTEND GAMES */

.extranav h1 {
  position: absolute;
}
