.navbar {
}

.nav {
  background-color: rgb(20, 20, 20);
}

.nav:hover {
  background-color: var(--tae_background_primary);
}

.logo-cnt {
  margin: 50px auto;
  background-image: url(../../assets/logo.png);
  max-width: 100px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}

.links {
  display: flex;
  flex-direction: column;
}
.links a {
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  margin: 1.5vh 40px;
  padding: 1vh;
}

.links a:hover {
  color: var(--tae_foreground_primary);
  letter-spacing: 0.5px;
  font-weight: 200;
  margin-left: 50px;
}

/* FOOTER NAV */

.nav-content {
  height: 85vh;
}
.nav-footer {
  height: 15vh;
  background-color: var(--tae_foreground_primary);
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

/* NAV EXTEND GAMES */

.extranav {
  background-color: var(--tae_background_primary);
}

@keyframes rollout {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}

.extranav {
  animation: rollout 0.4s ease-out;
  animation-fill-mode: forwards;
}
